.app-container {
  display: grid;
  grid-template-columns: auto 1fr; 
  height: 100vh; 
  }
  
  .content-container {
  height: 100%;
  overflow-y: auto; 
  }
  
  .ix-application {
  background-color: #23223d;
  color: white;
  width: 250px; 
  height: 100vh; 
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  overflow-y: auto; 
  }
  
  .ix-menu {
  padding-top: 20px; 
  overflow-y: auto;
  }
  
  .ix-menu-item {
  margin-bottom: 10px; 
  
  }
  
  